{% extends "layout.njk" %}

{% block content %}
    <div class="about_text">
        <p class="about_title"> Sobre o InstaChef </p>
        <p class="text"> 
            O InstaChef é o projeto do semestre do Bruno Toresan (00291332), e do Mateus Simon (209411),
            da disciplina de Interação Humano-Computador do Instituto de Informática da UFRGS.
        </p>

        <p class="about_title"> Receitas no papel estão muito ultrapassadas </p>
        <ul id="ingredient_list" class="recipe_list">
            <li> Mais fácil de perder/estragar </li>
            <li> Quantidades de ingredientes e tempo de cozimento não se ajustam de acordo com a preferência do usuário </li>
            <li> Não avisa o usuário quando tirar algum ingrediente do fogo (e.g. como um timer) </li>
            <li> Dificuldade em compartilhar a receita com outras pessoas </li>
        </ul>

        <p class="about_title"> Bon Appétit </p>
        <p class="text"> 
            Esperamos que você crie, compartilhe, e cozinhe várias receitas deliciosas, tirando o 
            maior proveito do nosso projeto!
        </p>

    </div>
{% endblock %}