<div>
    <div class="item">
        <div class="form_title"> Fotos </div>
        <div id="photos-container">
            <div id="photos-upload">
                <input id="photos-input" type="file" name="photos" multiple accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
                <p> + </p>
            </div>
            <div id="photos-preview">
                {% if files %}
                    {% for image in files%}
                        <div class="photo" id={{image.id}}>
                            <img src="{{image.src}}" alt="{{image.name}}">
                            <i class="material-icons"
                            onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="removed_files">
                {% endif %}
            </div>
        </div>
    </div>

    <div>
        <p class="form_title"> Título </p>
        <input type="text" class="edit" name="title" value="{{recipe.title}}" />
    </div>

    <div>
        <p class="form_title"> Autor(a) </p>
        <input type="text" class="edit" name="author" value="{{recipe.author}}" />
    </div>    

    <div id="new_ingredients">
        <div>
            <p id="ingr_name_title" class="form_title"> Nome do ingrediente </p>
            <p id="ingr_quant_title" class="form_title"> Quantidade do ingrediente </p> 
            <p id="ingr_meas_title" class="form_title"> Unidade de medida </p>  
            {% for i in range(0, num_ing) -%}
                <div class="new_step">
                    <input type="text" id="ingr_name" name="ingredients_name[]" value="{{recipe.ingredients_name[i]}}"/>
                    <input type="number" id="ingr_quant" name="ingredients_quantity[]" value="{{recipe.ingredients_quantity[i]}}"/>
                    <input type="text" id="ingr_meas" name="ingredients_measure[]" value="{{recipe.ingredients_measure[i]}}"/>
                </div>
            {%- endfor %}        
            {% if not recipe %}
                <div class="new_ingredient">
                    <input type="text" id="ingr_name" name="ingredients_name[]" value=""/>
                    <input type="number" id="ingr_quant" name="ingredients_quantity[]" value=""/>
                    <input type="text" id="ingr_meas" name="ingredients_measure[]" value=""/>
                </div>
            {% endif %}                    
        </div>
    </div>
    <button type="button" class="add-ingredient"> Adicionar novo ingrediente </button>


    <div id="new_steps">
        <div>
            <p id="prep_step_title" class="form_title"> Passo da Receita </p>
            <p id="prep_step_time_title" class="form_title"> Timer </p>
            {% for i in range(0, num_steps) -%}
                <div class="new_step">
                    <input type="text" id="prep_step" name="preparation[]" value="{{recipe.preparation[i]}}"/>
                    <input type="number" class="prep_step_time" name="preparation_time_h[]" value="{{preparation_time_h[i]}}" min="0" oninput="formatTime(this)" maxlength="2">
                    <span>:</span>
                    <input type="number" class="prep_step_time" name="preparation_time_m[]" value="{{preparation_time_m[i]}}" min="0" max="59" oninput="formatTime(this)" >
                    <span>:</span>
                    <input type="number" class="prep_step_time" name="preparation_time_s[]" value="{{preparation_time_s[i]}}" min="0" max="59" oninput="formatTime(this)" >
                </div>
            {%- endfor %}
            {% if not recipe %}
                <div class="new_step">
                    <input type="text" id="prep_step" name="preparation[]" value=""/>
                    <input type="number" class="prep_step_time" name="preparation_time_h[]" value="0" min="0" oninput="formatTime(this)" maxlength="2">
                    <span>:</span>
                    <input type="number" class="prep_step_time" name="preparation_time_m[]" value="0" min="0" max="59" oninput="formatTime(this)" >
                    <span>:</span>
                    <input type="number" class="prep_step_time" name="preparation_time_s[]" value="0" min="0" max="59" oninput="formatTime(this)" >
                </div>
            {% endif %}                                   
        </div>
    </div>
    <button type="button" class="add-preparation"> Adicionar novo passo </button>        

    <script src="/scripts/script_new_input.js"></script>
   
</div>
