<div>
    <div class="item">
        <div class="form_title"> Fotos </div>
        <div id="photos-container">
            <div id="photos-upload">
                <input id="photos-input" type="file" name="photos" multiple accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
                <p> + </p>
            </div>
            <div id="photos-preview">
                {% if files %}
                    {% for image in files%}
                        <div class="photo" id={{image.id}}>
                            <img src="{{image.src}}" alt="{{image.name}}">
                            <i class="material-icons"
                            onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="removed_files">
                {% endif %}
            </div>
        </div>
    </div>

    <div>
        <p class="form_title"> Título </p>
        <input type="text" name="title" value="{{recipe.title}}" />
    </div>

    <div>
        <p class="form_title"> Autor(a) </p>
        <input type="text" name="author" value="{{recipe.author}}" />
    </div>    

    <div id="new_ingredients">
        <p class="form_title"> Ingredientes </p> 
        {% for ingredient in recipe.ingredients %}
            <div class="new_ingredient">
                <input type="text" name="ingredients[]" value="{{ingredient}}"/>
            </div>
        {% endfor %} 
        {% if not recipe %}
            <div class="new_ingredient">
                <input type="text" name="ingredients[]" value=""/>
            </div>
        {% endif %}                    
    </div>
    <button type="button" class="add-ingredient"> Adicionar novo ingrediente </button>

    <div id="new_steps">
        <p class="form_title"> Modo de preparo </p>
        {% for step in recipe.preparation %}
            <div class="new_step">
                <input type="text" name="preparation[]" value="{{step}}"/>
            </div>
        {% endfor %} 
        {% if not recipe %}
            <div class="new_step">
                <input type="text" name="preparation[]" value=""/>
            </div>
        {% endif %}                                   
    </div>
    <button type="button" class="add-preparation"> Adicionar novo passo </button>        

    <script src="/scripts/script_new_input.js"></script>
   
</div>