{% extends "layout.njk" %}

{% block content %}    
    <div class="edit">
        <div class="header">
            <p class="title"> Pronto! - {{recipe.title}}</p>
        </div>
        <p style="font-size: 24px; margin-bottom: 32px"> Seu {{recipe.title}} está pronto! Agora é só saborear. Ou você pode fazer outra receita.</p>
        <a href="/" id="edit_btn">Fazer outra receita</a>
    </div>           
{% endblock %}
