<div id="steps-progress">
    {% for i in range(recipe.preparation.length) %}
        {% if i > 0 %}
            {%if i <= step_num %}
                <div class="done-spacer"></div>
            {% else %}
                <div class="not-done-spacer"></div>
            {% endif %}
        {% endif %}
        {% if i < step_num %}
            <span class="done-step">{{i+1}}</span>
        {% elif i == step_num %}
            <span class="current-step">{{i+1}}</span>
        {% else %}
            <span class="not-done-step">{{i+1}}</span>
        {% endif %}
    {% endfor %}
</div>
