{% extends "layout.njk" %}

{% block content %}    
    <div class="edit">
        {% include 'progress.njk' %}
        <div class="header">
            <p class="title"> Passo {{step_num+1}} - {{recipe.title}}</p>
        </div>
        <p style="font-size: 24px; margin-bottom: 16px">{{step.description}}</p>
        {% if step.time > 0 %}
          {% include 'timer.njk' %}                          
        {% endif %}
        <a href="/recipes/{{recipe.id}}/steps/{{step_num+1}}" id="edit_btn">Próximo passo</a>
    </div>           
{% endblock %}
