<div id="timer">

  <p id="timer-display"></p>
  <a href="#" class="green_btn" onclick="toggleTimer()" id="timer-toggler"> Iniciar </a>
  <a href="#" class="orange_btn" onclick="resetTimer()" id="timer-reset"> Resetar </a>

  <script src="/scripts/timer.js" totalTime={{step.time}}></script>
</div>
